* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  color: #f5f5dc;
}

.container {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4vmax;
  padding: 20px 0;
}

.input-container input {
  width: 90vw;
  max-width: 560px;
  height: 55px;
  margin-bottom: 30px;
  border: 1px solid #303030;
  outline: none;
  padding: 20px 25px;
  font-size: 1rem;
  background-color: #f5f5dc;
  border-radius: 10px;
}

::placeholder {
  color: #303030;
  opacity: 1;
}

.input-container button {
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #3457d5;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: 700;
  color: white;
}

.input-container button:hover {
  opacity: 0.8;
}

.input-container button:active {
  outline: 3px solid #349ad5;
}

.alerta {
  padding: 15px 30px;
  position: absolute;
  top: 10px;
  border-radius: 10px;
}

.sim {
  background-color: #00693e;
}

.nao {
  background-color: #e23d28;
}

.escondido {
  transition: opacity 0.2s ease, visibility 0s linear 0.5s;
  opacity: 0;
  visibility: hidden;
}

.visivel {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease;
}